html {
	height: 100%;
}
body {
	background-color: #d0e4fe;
	width: 100%;
	height: 100%;
}
table.calculator {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
	color: gray;
	background-color: gray;
	border: black 2px solid;
	width: 50%;
	height: 70%;
	border-radius: 4%;
}
