{% extends "socialnetwork/form_template.html" %}

{% block title %}Login to The Social Network{% endblock %}

{% block form %}
<img class="profile-img" src="../../static/socialnetwork/img/homepage.jpg" alt="">
<form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
  {% if form.errors %}
  <p class="errorlist">
    Invalid username or password.
  </p>
  {% endif %}
  <input name="{{form.username.html_name}}" type="text" class="form-control" placeholder="Username" required autofocus>
  <input name="{{form.password.html_name}}" type="password" class="form-control" placeholder="Password" required>
  <input type="submit" class="btn btn-lg btn-primary btn-block btn-default" value="Log In" />
</form>
<p class="text-center"><a href="{% url 'socialnetwork.views.register' %}">Need an Account?</a></p>
{% endblock %}