{% extends "socialnetwork/feed_template.html" %}

{% block title %}
  The Social Network
{% endblock %}

{% block nav %}
  <a class="blog-nav-item active" href="{% url 'socialnetwork.views.home' %}">The Social Network</a>
  <a class="blog-nav-item" href="{% url 'socialnetwork.views.following' %}">Following</a>
  <a class="blog-nav-item" href="{% url 'socialnetwork.views.profile' user.username %}">Profile</a>
  <a class="blog-nav-item" href="{% url 'django.contrib.auth.views.logout_then_login' %}">Logout</a>
{% endblock %}

{% block page_header %}
  <h` class="blog-title">The Global Feed</h1>
  <p class="lead blog-description">
    Learn about the mundane activites of strangers, or tell them things!
  </p>
{% endblock %}

{% block form %}
  <form method="post"> {% csrf_token %}
    {{form.non_field_errors}}
    {{form.text.errors}}
      <div class="form-group">
        <textarea class="form-control" rows="2" id="{{form.text.id_for_label}}" maxlength="{{form.text.field.max_length}}" name="{{form.text.html_name}}"></textarea>
      </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% comment %}

{% block login_info %}
{% endblock %}

{% endcomment %}

