{% extends "socialnetwork/form_template.html" %}
{% load static %}

{% block title %}Register for The Social Network{% endblock %}

{% block form %}
<img class="profile-img" src="{% static 'socialnetwork/img/homepage.jpg' %}" alt="">
<form class="form-signin" method="post">{% csrf_token %}
  {{form.non_field_errors}}
  {% for field in form %}
    {{ field.errors }}
    <input name="{{field.html_name}}" type="{{field.field.widget.input_type}}" class="form-control" placeholder="{{field.label}}" 
    {% if field.value %}
    value="{{field.value}}" 
    {% endif %} required>
  {% endfor %}
  <input type="submit" class="btn btn-lg btn-primary btn-block btn-default" value="Register" />
</form>
{% endblock %}